<div class="barre">
    <!-- <div class="icon">
      <img src="" alt="Icône">
    </div> -->
    <div class="i">
      <p>Programme Regime</p> 
    </div>
  <nav class="menu">
    <ul>
        <li><a routerLink="/">Calorie</a></li>
        <li><a routerLink="/">Objectif</a></li>
        <li><a routerLink="/">Planifaction</a></li>
        <li><a routerLink="/journall">Mes plats</a></li>
        <li style="color: #12b852;"><a routerLink="/accueil">Accueil</a></li>
    </ul>
  </nav>
  </div>
  <!-- la partie accueil Regime -->
  <div class="parti1">
  <P class="explorer">
    Explorez un voyage vers une vie plus 
    saine et équilibrée grâce à notre expertise en régimes
     alimentaires, guidés par la science
      et personnalisés pour vous.
  </P>
  <!-- <button class="regi">Regime</button> -->
  </div>
  
  <!-- la partie Planification -->

  <div class="parti2">
    <div class="container">
      <div class="text">
        <p>Une planification minutieuse du régime est 
          la clé pour atteindre vos objectifs 
          de santé et de bien-être.</p>
        <div>
            <a routerLink="/journall"  routerLinkActive="activebutton"><button class="pl">Planifier</button></a> 
        </div>
      </div>
      <div class="image">
        <img src="../assets/Parti2.png" alt="">
      </div>
    </div>
  </div>


  <!-- la partie objectif -->
  <div class="parti3">
    <div class="container">

      <div class="image">
        <img src="../assets/parti3.png" alt="">
      </div>
      
      <div class="text">
        <p>Engagement envers un objectif de régime alimentaire équilibré , 
          cultiver une santé vibrante et durable, un choix à la fois.</p>
        <button class="pl">Objectif</button>
      </div>
    </div>
  </div>
  <!-- la partie ajouter un plat-->
  <div class="parti4">
    <div class="container">
      <div class="text">
        <p>Transforme chaque journée en une délicieuse 
          composition de saveurs équilibrées et de
           bien-être nourrissant.</p>
        <button class="pl">Ajouter un plat</button>
      </div>
      <div class="image">
        <img src="../assets/parti4.png" alt="">
      </div>
    </div>
  </div>
  

