/* menu.component.css */

.menu-container {
   
    background-color: #bff6d4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

.saisi {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.check {
    margin-right: 10px;
}

.qt {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.spr {
    color: red;
    background-color: #FFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    
}
.spr:hover{
    background-color: rgb(230, 136, 136);
    color: #FFFF;
}

.completed {
    text-decoration: line-through;
}

.close-button {
    background-color: #ccc;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #999;
}
