.i {
    color: #47AC23;
  }
  
  .barre {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments */
    justify-content: space-between; /* Répartit l'espace horizontal entre les éléments */
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Espacement entre les éléments du menu */
    margin: 0;
    padding: 0;
  }
  
  .menu li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  
    &:hover {
      color: #12b852; /* Couleur au survol */
      text-decoration: underline;
    }
  }
  .tete{
    width: 100%;
    height: 300px;
    background-color: #5FCA5F80;
    }
.container {
  display: flex;
  flex-direction: row; /* Ajustement */
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.125px;
  text-align: center;
  padding: 10%;
  
}

.image {
  text-align: center;
  margin-top: 20px;
}

.image img {
  max-width: 100%;
}
