<div class="barre">
    <!-- <div class="icon">
      <img src="" alt="Icône">
    </div> -->
    <div class="i">
      <p>Programme Regime</p> 
    </div>
  <nav class="menu">
    <ul>
      <li><a routerLink="/accueil">Accueil</a></li>
      <li><a routerLink="/journall">Mes plats</a></li>
      <li><a routerLink="/planifaction">Planifaction</a></li>
    <li><a routerLink="/calorie"style= "color: #12b852;">Calorie</a></li>
        <li><a routerLink="/">Objectif</a></li>

    </ul>
  </nav>
  </div>
  <!-- la partie entête -->
  <div class="tete">
    <div class="container">
      <div class="image">
        <img src="../assets/ca.png" alt="">
       </div>
        <div class="text">
          <p>Transforme chaque journée en une délicieuse
             composition de saveurs équilibrées
              et de bien-être nourrissant.</p>
        </div>
      </div>
    </div>

    <!-- la partie form -->
    <h1 style="text-align: center; font-weight: bold; font-size: 20px;">
        Caluculez votre besoin de calorie par jours</h1>

        <div class="formcontainer">

            <input type="number" placeholder="Poids en kg">
            <input type="number" placeholder="Taille en cm">
            <input type="number" placeholder=" Votre age">
            <input type="">
            <option value="">Feminin</option>
            <option value="">Masculin</option>
        

        </div>