.cartePlat{
    width: 30%;
    height: auto;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: lightgrey 4px 4px 20px;
    border-radius: 15px;
    background-color: rgb(205, 240, 208);
    align-items: center;
    img{
        width: 100%;
        border-radius: 15px;
        margin-top: 10px;
    }
    h3{
        margin-bottom: 0%;
    }
    h1{
        margin-top: 5px;
    }
    p{
        font-weight: 500;
        font-size: 16px;
    }
    button{
        width: 35%;
        height: 55px;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        box-shadow: rgb(158, 158, 158) 3px 3px 30px;
        border-radius: 25px;
        outline: none;
        font-size: 15px;
        font-weight: 500;
        &:active {
            transform: translate(1px, 1px);
            box-shadow: lightgray 0 0 5px;
          }
        
    }
    .supprimer{
        background-color: rgb(209, 86, 86);
        margin-right: 50px;
        &:hover{
            background-color: rgb(214, 24, 24);
        }
    }
    .modifier{
        background-color: rgb(95, 202, 95 ,50%);
        &:hover{
            background-color: #2a942a;
        }

    }
    .retour{
        width: 25%;
        height: 30px;
        &:hover{
            background-color: rgb(192, 187, 187);
        }
    }

}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
