<div class="barre">
    <!-- <div class="icon">
      <img src="" alt="Icône">
    </div> -->
    <div class="i">
      <p>Programme Regime</p> 
    </div>
  <nav class="menu">
    <ul>
      <li><a routerLink="/accueil">Accueil</a></li>
      <li><a routerLink="/journall">Mes plats</a></li>
      <li><a style="color: #12b852;">Planifaction</a></li>
        <li><a routerLink="/">Calorie</a></li>
        <li><a routerLink="/">Objectif</a></li>
    </ul>
  </nav>
  </div>

<!-- la partie tête du journall -->
  <div class="tete">
    <div class="container">
      <div class="image">
        <img src="../assets/planifie.png" alt="">
       </div>
        <div class="text">
          <p>Transforme chaque journée en une délicieuse
             composition de saveurs équilibrées
              et de bien-être nourrissant.</p>
        </div>
        
      </div>
      </div>
  <!-- partie semaine -->
  <div class="container">
    <div class="semaine-box">&lt; semaine &gt;</div>
</div>

<!-- les jours -->
<div class="ctn">
    <div *ngFor="let day of daysOfWeek" class="day-item">
        <a class="jr" [routerLink]="['/todolist', day]">
            <img src="../assets/calendar.png" alt="Calendrier" class="calendar-icon" />
            <span>{{ day }}</span>
        </a>
    </div>
</div>
