<div class="conteneur">
    <div class="petit-dej">
        <div class="tete">Petit Dejeuner <button>Ajouter</button></div>
        <div class="corps" >
            <input type="checkbox"><p>{{planification.repas}}</p>
        </div>
    </div>
    <div class="dej">
        <div class="tete">Dejeuner <button>Ajouter</button></div>
        <div class="corps"></div>
    </div>
    <div class="diner">
        <div class="tete">Diner <button>Ajouter</button></div>
        <div class="corps"></div>
    </div>
</div>
