<div class="container">
  <form [formGroup]="platForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="file" formControlName="image">
    </div>
    <div>
      <label for="nom">Nom du plat:</label>
      <input type="text" id="nom" formControlName="nom">
    </div>
    <div>
      <label for="des">Description:</label>
      <input type="text" id="des" formControlName="des">
    </div>
    <div>
      <label for="calorie">Calorie:</label>
      <input type="number" id="calorie" formControlName="calorie">
    </div>
    <button type="submit" class="pl">Enregistrer</button>
  </form>
</div>
