<h1 mat-dialog-title id="titre">Nouveau plat</h1>
<div mat-dialog-content class="mat-typography">
  <div class="container">
    <div class="formplat">
      <form >
        <div>
          <input type="file">
        </div>
        <div>
          <input type="text" placeholder="Nom du plat" id="nom" name="nom" >
        </div>
        <div>
          <input type="text" placeholder="Description" id="des" name="des" >
        </div>
        <div>
          <input type="number" placeholder="Calorie" id="Calorie" name="Calorie" >
        </div>
        <br>
        <button type="submit" name="valider">Valider</button>
      </form>
    </div>
    <div class="image">
      <img src="../assets/form.png" alt="">
    </div>
  </div>
</div>
