.i {
    color: #47AC23;
  }
  
  .barre {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments */
    justify-content: space-between; /* Répartit l'espace horizontal entre les éléments */
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Espacement entre les éléments du menu */
    margin: 0;
    padding: 0;
  }
  
  .menu li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  
    &:hover {
      color: #12b852; /* Couleur au survol */
      text-decoration: underline;
    }
  }
  
  .parti1 {
    background-image: url('../assets/accueilR.png');
    width: 1441px;
    height: 400px;
    flex-shrink: 0;
  }
  
  .explorer {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.125px;
    text-align: center;
    margin-right: 50%;
    padding-top: 90px;
  }
  
  .regi {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    color: #47AC23;
    width: 150px;
    height: 30px;
    margin-left: 20%;
  }
  
  .parti2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(225, 255, 217, 0.54);
    padding: 50px 0;
    width: 1000px;
    margin-left: 90px;
    height: 400px;
  }
  
  .container {
    display: flex;
    flex-direction: row; /* Ajustement */
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .text {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.125px;
    text-align: center;
    padding: 20px;
  }
  
  .image {
    text-align: center;
    margin-top: 20px;
  }
  
  .image img {
    max-width: 100%;
  }
  
  .pl {
    width: 150px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(95, 202, 95, 0.66);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    color: #FFFFFF;
    font-weight: bold;
  }
  
  .parti3 {
    background-color: #FFFFFF;
    width: 900px;
    border-radius: 30px;
    height: 300px;
    text-align: center;
    margin-left: 15%;
  }
  
  .parti4 {
    background-color: #FFFFFF;
    width: 800px;
    height: 300px;
    text-align: center;
    margin-left: 15%;
    border: #f0f0f0 5px solid;
  }
  