<div class="accueil">
    <p>Explorez un voyage vers une vie plus saine et équilibrée grâce à notre expertise en régimes alimentaires, guidés par la science et personnalisés pour vous.</p>
    <img src="../../assets/accueil.png" alt="">

</div>
<div class="planifier">
    <div class="planifiertexte">
        <p>Explorez un voyage vers une vie plus saine et équilibrée grâce à notre expertise en régimes alimentaires, guidés par la science et personnalisés pour vous.</p>
        <button routerLink="page-planification" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span>Planifier</span></button>
    </div>
    <img src="../../assets/accueil-planifier.png" alt="">

</div>
<div class="objectif">
    <div class="objectiftexte">
        <p>Explorez un voyage vers une vie plus saine et équilibrée grâce à notre expertise en régimes alimentaires, guidés par la science et personnalisés pour vous.</p>
        <button routerLink="objectif" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span>Objectif</span></button>
    </div>
        <img src="../../assets/accueil-objectif.png" alt="">
    
</div>
<div class="planifier">
    <div class="planifiertexte">
        <p>Explorez un voyage vers une vie plus saine et équilibrée grâce à notre expertise en régimes alimentaires, guidés par la science et personnalisés pour vous.</p>
        <button routerLink="mesPlats"><span></span>Ajouter un plat</button>
    </div>
    <img src="../../assets/accueil-repas.png" alt="">

</div>
