<div class="barre">
    <!-- <div class="icon">
      <img src="" alt="Icône">
    </div> -->
    <div class="i">
      <p>Programme Regime</p> 
    </div>
  <nav class="menu">
    <ul>
        <li><a href="#">Calorie</a></li>
        <li><a href="#">Objectif</a></li>
        <li><a href="#">Planifaction</a></li>
        <li><a href="#">Mes plats</a></li>
    </ul>
  </nav>
  </div>
  <!-- la partie entête -->
  <div class="tete">
    <div class="container">
      <div class="image">
        <img src="../assets/te.png" alt="">
       </div>
        <div class="text">
          <p>Transforme chaque journée en une délicieuse
             composition de saveurs équilibrées
              et de bien-être nourrissant.</p>
        </div>
        
      </div>
  <!-- la partie carte aliment -->
  <!-- <h1>Mes plat</h1> -->
<!-- Card ajout form-->
<!-- Card 0 -->
  <div class="cards-container">
<!-- Card ajout -->
<div class="card" style="width: 200px; text-align: center;">
  <img src="../assets/ajout.png" alt="ajout" class="dish-image">
  <h2 class="dish-name" style="font-size: 15px;">
    Nouveau plat</h2>
    <br>
    <button (click)="openDialog()">Ajouter plat</button>
  <!-- <a routerLink="/pageplat"> <button class="pl">ajouter un plat</button></a> -->
</div>

    <div class="card">
      <img src="../assets/sha.jpg" alt="Spaghetti Bolognese" class="dish-image">
      <h2 class="dish-name">Spaghetti Bolognese</h2>
      <p class="calories">Calories : 550</p>
      <p class="description">Des spaghettis servis avec une
         sauce bolognaise 
        savoureuse et du parmesan râpé.</p>
    </div>

<!-- Card 1 -->
    <div class="card">
      <img src="caesar-salad.jpg" alt="Salade César" class="dish-image">
      <h2 class="dish-name">Salade César</h2>
      <p class="calories">Calories : 320</p>
      <p class="description">Une salade rafraîchissante avec de la laitue, du poulet grillé, des croûtons et une vinaigrette césar.</p>
    </div>
  </div>


  <!-- Ajoutez d'autres cartes de plats ici -->


