
<div class="header">
    <img src="../../assets/Logo_suivi_regime-removebg-preview.jpeg" alt="Logo de Lapplication">
    <p>
        <span><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Accueil</a></span>
        <span><a routerLink="mesPlats" routerLinkActive="active">Mes Plats</a></span>
        <span><a routerLink="planificationliste" routerLinkActive="active">Planification</a></span>
        <span><a routerLink="calorie" routerLinkActive="active">Calorie</a></span>
        <span><a routerLink="objectif" routerLinkActive="active">Objectif</a></span>
    </p>
</div>

